* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

header h1::first-letter {
  color: #70d6ff;
}

/*  */
.header__form {
  position: relative;
  padding-left: 2rem;
}

.header__search {
  width: 15rem;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid #70d6ff;
  /* border-radius: 1.25rem; */
  outline: none;
  padding: 0 3rem 0 1rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.header__search:focus {
  background-color: var(--primary-color);
  border-color: #69db7e;
}

.header__search::placeholder {
  color: #a5a5a5;
  ;
}

/*  */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

.footer__copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
  flex-basis: 30%;
}

.footer__copyright a {
  color: #444;
}

.footer__copyright a:hover {
  color: #555;
}

.footer__copyright:before {
  content: '©';
}

.footer__year {
  flex-basis: 30%;
}

.footer__links {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-basis: 30%;
}

.footer__github {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.footer__github::first-letter {
  color: #70d6ff;
  transition: color 0.3s ease-in-out;
}

.footer__github:hover,
.footer__github:hover::first-letter {
  color: #30c5ff;
}

.footer__rsschool {
  margin-left: 80px;
}

.rsschool path {
  transition: fill 0.3s ease-in-out;
}

.rsschool:hover path {
  fill: #30c5ff;
}

@media(max-width: 590px) {
  header {
    flex-direction: column;
    gap: 25px;
  }

  .header__form {
    padding-left: 0;
  }

  .footer {
    flex-direction: column;
    gap: 15px;
  }
}