.button {
  @include button();
  transition: all 0.3s ease;;
}

.button-arrow {
  @include navigation-item();
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;;
  cursor: pointer;
}

.button-arrow:hover {
  background-color: $color-primary-light;
  border-color: $color-primary-light;
}

.button-arrow--disabled {
  border-color: $color-dark-s;
}

.button-arrow--disabled:hover {
  background-color: transparent;
  border-color: $color-dark-s;
  cursor: auto;
}

.button-arrow--disabled svg path {
  fill: $color-dark-s;
}
