.wrapper--pets {
  padding-top: 12rem;
  background-color: $color-light-l;
}

.header--pets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  background-color: $color-light-xl;
  @media screen and (max-width: $breakpoint-1) {
    padding: 3rem;
  }
  @media screen and (max-width: $breakpoint-2) {
    padding-left: 1rem;
    padding-right: 5.3rem;
  }
}

.header--pets-mobile {
    @media screen and (max-width: $breakpoint-2) {
    background-color: transparent;
  }
}

.logo {
  &__title--pets {
    color: $color-dark-l;
  }

  &__subtitle--pets {
    color: $color-dark-3xl;
  }
}

.navigation--pets {
  background-color: #ffffff;
  z-index: 10;
}

.list {
  &__item--pets {
    color: $color-dark-l;
  }

  &__link--pets:hover {
    color: $color-dark-3xl;
  }

  &__item--checked-pets {
    position: relative;
    color: $color-dark-3xl;
  }

  &__item--checked-pets::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-primary;
  }
}

.burger-menu__line--pets {
  background-color: #000000;
}