.header--pets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  background-color: $color-light-xl;
}

.logo {
  &__title--pets {
    color: $color-dark-l;
  }

  &__subtitle--pets {
    color: $color-dark-3xl;
  }
}

.list {
  &__item--pets {
    color: $color-dark-l;
  }

  &__link--pets:hover {
    color: $color-dark-3xl;
  }

  &__item--checked-pets {
    position: relative;
    color: $color-dark-3xl;
  }

  &__item--checked-pets::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-primary;
  }
}
