.pets {
  &__container--our-friends {
    margin-top: 12rem;
  }

  &__title--our-friends {
  }

  &__navigation {
    display: flex;
    gap: 2rem;
    padding-top: 6rem;
  }
}

.pets-cards--our-friends {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, max-content);
  row-gap: 3rem;
  column-gap: 4rem;
}

.pets-card--our-friends:hover {
  cursor: pointer;
}

.pets-card--our-friends:hover .pets-card__button {
  background-color: $color-primary-light;
  border-color: $color-primary-light;
}
