.pets {
  &__container--our-friends {
    margin-top: 12rem;
  }

  &__title--our-friends {
  }

  &__navigation {
    display: flex;
    gap: 2rem;
    padding-top: 6rem;
  }
}

.page-pointer {
  @include navigation-item();
  background-color: $color-primary;
  border-color: $color-primary;
  &__inner {
    @extend %h4;
    padding-left: 0.1rem;
    padding-bottom: 0.1rem;
    color: $color-dark-3xl;
  }
}


.pets-cards--our-friends {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, max-content);
  row-gap: 3rem;
  column-gap: 4rem;
}