.pets {
  &__container--our-friends {
    @media screen and (max-width: $breakpoint-1) {
      padding-bottom: 7.6rem;
    }
    @media screen and (max-width: $breakpoint-2) {
      padding-bottom: 4.2rem;
    }
  }

  &__title--our-friends {
    @media screen and (max-width: $breakpoint-1) {
      padding-bottom: 3rem;
    }
    @media screen and (max-width: $breakpoint-2) {
      @include h3-mobile();
      padding-bottom: 0;
    }
  }

  &__navigation {
    display: flex;
    gap: 2rem;
    padding-top: 6rem;
    @media screen and (max-width: $breakpoint-1) {
      padding-top: 4rem;
    }
    @media screen and (max-width: $breakpoint-2) {
      padding-top: 0;
      gap: 1rem;
    }
  }
}

.page-pointer {
  @include navigation-item();
  background-color: $color-primary;
  border-color: $color-primary;
  &__inner {
    @extend %h4;
    padding-left: 0.1rem;
    padding-bottom: 0.1rem;
    color: $color-dark-3xl;
  }
}


.pets-cards--our-friends {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, max-content);
  row-gap: 3rem;
  column-gap: 4rem;
  @media screen and (max-width: $breakpoint-1) {
    grid-template: repeat(3, auto) / repeat(2, max-content);
  }
  @media screen and (max-width: $breakpoint-2) {
    grid-template: repeat(3, auto) / max-content;
  }
}

.pets-card--our-friends:nth-child(4),
.pets-card--our-friends:nth-child(5),
.pets-card--our-friends:nth-child(6) {
  @media screen and (max-width: $breakpoint-2) {
    display: none;
  }
}

.pets-card--our-friends:nth-child(7),
.pets-card--our-friends:nth-child(8) {
  @media screen and (max-width: $breakpoint-1) {
    display: none;
  }
}