@charset "UTF-8";
.not-only__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.popup__title, .footer__title, .donation__title, .help__title, .pets__title, .about__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.page-pointer__inner, .popup__subtitle, .footer__subtitle, .donation__credit-card-content, .help__item-text, .pets-card__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
}

.popup__list-item, .popup__description, .donation__subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.about__text, .not-only__text, .list__item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.donation__description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.eot");
  src: url("../../assets/fonts/georgia/georgia-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/georgia/georgia-regular.woff") format("woff"), url("../../shelter//fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-bold.eot");
  src: url("../../assets/fonts/georgia/georgia-bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/georgia/georgia-bold.woff") format("woff"), url("../../assets/fonts/georgia/georgia-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.eot");
  src: url("../../assets/fonts/arial/arial-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts//arial/arial-regular.woff") format("woff"), url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-italic.eot");
  src: url("../../assets/fonts/arial/arial-italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts//arial/arial-italic.woff") format("woff"), url("../../assets/fonts/arial/arial-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.2rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-arrow:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.button-arrow--disabled {
  border-color: #cdcdcd;
}

.button-arrow--disabled:hover {
  background-color: transparent;
  border-color: #cdcdcd;
  cursor: auto;
}

.button-arrow--disabled svg path {
  fill: #cdcdcd;
}

.body--lock {
  height: 100vh;
  padding-right: 15px;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .body--lock {
    padding-right: 0;
  }
}

.wrapper {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 6rem;
  left: 4rem;
  right: 4rem;
}
@media screen and (max-width: 1279px) {
  .header {
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-left: 1rem;
    padding-right: 5.3rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .header__container {
    margin-left: auto;
    margin-right: 0;
    -webkit-animation: changeWidth0 0.5s ease-in-out;
            animation: changeWidth0 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 767px) {
  .header__container--mobile {
    width: 25.7rem;
    margin: 0 0 0 auto;
    -webkit-animation: changeWidth1 0.5s ease-in-out;
            animation: changeWidth1 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@-webkit-keyframes changeWidth0 {
  from {
    width: 25.7rem;
  }
  to {
    width: 100%;
  }
}

@keyframes changeWidth0 {
  from {
    width: 25.7rem;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes changeWidth1 {
  from {
    width: 100%;
  }
  to {
    width: 25.7rem;
  }
}
@keyframes changeWidth1 {
  from {
    width: 100%;
  }
  to {
    width: 25.7rem;
  }
}
.logo__title {
  color: #f1cdb3;
  padding-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .logo__title {
    position: relative;
    z-index: 3;
  }
}
.logo__subtitle {
  color: #ffffff;
  padding-left: 0.4rem;
}
@media screen and (max-width: 767px) {
  .logo__subtitle {
    position: relative;
    z-index: 3;
  }
}

.navigation {
  width: 44.3rem;
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 767px) {
  .navigation {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32rem;
    padding-top: 9rem;
    top: 0;
    bottom: 0;
    right: -32rem;
    background-color: #292929;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .navigation--show {
    -webkit-transform: translateX(-32rem);
        -ms-transform: translateX(-32rem);
            transform: translateX(-32rem);
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 32.7rem;
    margin-bottom: 9rem;
    line-height: 160%;
  }
}
.list__item {
  color: #cdcdcd;
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 767px) {
  .list__item {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    padding-bottom: 0;
  }
}
.list__link:hover {
  color: #fafafa;
}
.list__item--checked {
  position: relative;
  color: #fafafa;
}
.list__item--checked::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 3;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (max-width: 767px) {
  .burger-menu__line {
    width: 100%;
    height: 0.2rem;
    background-color: #f1cdb3;
    z-index: 3;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  .burger-menu--open {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.background {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .background--blured {
    display: block;
    -webkit-animation: blur 0.5s ease-in-out;
            animation: blur 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@-webkit-keyframes blur {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(41, 41, 41, 0.6);
  }
}

@keyframes blur {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(41, 41, 41, 0.6);
  }
}
.not-only {
  background: url("../../assets/images/noise_transparent@2x.png"), -o-radial-gradient(0% 0%, 100% 215.42%, #5b483a 0%, #262425 100%), #211f20;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.not-only__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  padding: 18rem 4rem 0;
}
@media screen and (max-width: 1279px) {
  .not-only__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15rem 10rem 0 9.9rem;
  }
}
@media screen and (max-width: 767px) {
  .not-only__container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.not-only__content {
  padding: 16.3rem 4.2rem 0 0;
}
@media screen and (max-width: 1279px) {
  .not-only__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 46rem;
    padding: 0 0 10rem 0;
  }
}
@media screen and (max-width: 767px) {
  .not-only__content {
    padding-bottom: 10.5rem;
  }
}
.not-only__title {
  color: #ffffff;
  padding: 0 15rem 4.2rem 0;
}
@media screen and (max-width: 767px) {
  .not-only__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-right: 0;
    text-align: center;
  }
}
.not-only__text {
  color: #cdcdcd;
  padding-bottom: 4.2rem;
}
@media screen and (max-width: 767px) {
  .not-only__text {
    max-width: 30rem;
    text-align: center;
  }
}
.not-only__button {
  width: 20.7rem;
  background-color: #f1cdb3;
}
.not-only__button:hover {
  background-color: #fddcc4;
}
@media screen and (max-width: 1279px) {
  .not-only__img-wrapper {
    width: 56.9rem;
    height: 59.3rem;
  }
}
@media screen and (max-width: 767px) {
  .not-only__img-wrapper {
    width: 26rem;
    height: 27.1rem;
  }
}
.not-only__img {
  display: block;
}
@media screen and (max-width: 1279px) {
  .not-only__img {
    width: 100%;
    position: relative;
    left: 7rem;
  }
}
@media screen and (max-width: 767px) {
  .not-only__img {
    left: 2rem;
  }
}

.about {
  background-color: #ffffff;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 4rem 10rem;
}
@media screen and (max-width: 1279px) {
  .about__container {
    max-width: 43rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .about__container {
    max-width: 30rem;
    padding: 4.2rem 0;
  }
}
.about__img-wrapper {
  padding-left: 17.5rem;
}
@media screen and (max-width: 1279px) {
  .about__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .about__img-wrapper {
    width: 26rem;
    height: 35.2rem;
  }
}
.about__img {
  display: block;
}
@media screen and (max-width: 767px) {
  .about__img {
    width: 100%;
  }
}
.about__content {
  padding: 1.4rem 17.5rem 1.4rem 12rem;
}
@media screen and (max-width: 1279px) {
  .about__content {
    padding: 0 0 8rem;
  }
}
@media screen and (max-width: 767px) {
  .about__content {
    padding: 0 1.5rem 4.2rem;
  }
}
.about__title {
  color: #545454;
  padding-right: 6rem;
}
@media screen and (max-width: 767px) {
  .about__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-right: 0;
    text-align: center;
  }
}
.about__text {
  padding-top: 2.5rem;
}
@media screen and (max-width: 767px) {
  .about__text {
    text-align: justify;
  }
}
@media screen and (max-width: 767px) {
  .about__text:nth-child(3) {
    padding-top: 2.2rem;
  }
}

.pets {
  background-color: #f6f6f6;
}
.pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 4rem 10rem;
}
@media screen and (max-width: 1279px) {
  .pets__container {
    max-width: 70.8rem;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .pets__container {
    max-width: 30rem;
    padding: 4.2rem 0;
    row-gap: 4.2rem;
  }
}
.pets__title {
  max-width: 40rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .pets__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-bottom: 0;
  }
}
.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 6rem;
}
@media screen and (max-width: 767px) {
  .pets__slider {
    max-width: 27rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2rem;
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
    padding-bottom: 0;
  }
}
.pets__button {
  width: 26.1rem;
  background-color: #f1cdb3;
}
.pets__button:hover {
  background-color: #fddcc4;
}

.pets-cards {
  position: relative;
  width: 99rem;
  height: 43.5rem;
}
@media screen and (max-width: 1279px) {
  .pets-cards {
    width: 58rem;
  }
}
@media screen and (max-width: 767px) {
  .pets-cards {
    width: 27rem;
  }
}
.pets-cards__slide {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 9rem;
  -webkit-transition: all 1.3s linear;
  -o-transition: all 1.3s linear;
  transition: all 1.3s linear;
}
@media screen and (max-width: 1279px) {
  .pets-cards__slide {
    gap: 4rem;
  }
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  background-color: #fafafa;
}
.pets-card__img {
  display: block;
}
.pets-card__title {
  color: #545454;
}
.pets-card__button {
  width: 18.7rem;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  color: #292929;
  cursor: pointer;
}

.pets-card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.pets-card:hover .pets-card__button {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.pets-card:hover .pets-card__button:active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}

@media screen and (max-width: 767px) {
  .pets-card--main-page:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .pets-card--main-page:nth-child(3) {
    display: none;
  }
}

.button-arrow--next {
  background-image: url("../../assets/icons/pets/arrow-previous.svg");
}
@media screen and (max-width: 767px) {
  .button-arrow--next {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.button-arrow--prev {
  background-image: url("../../assets/icons/pets/arrow-next.svg");
}
@media screen and (max-width: 767px) {
  .button-arrow--prev {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.help {
  background-color: #ffffff;
}
.help__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 4rem 10rem;
}
@media screen and (max-width: 1279px) {
  .help__container {
    max-width: 63rem;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .help__container {
    max-width: 29rem;
    padding: 4.2rem 0;
  }
}
.help__title {
  max-width: 31rem;
  margin: 0 auto;
  padding-bottom: 6rem;
  text-align: center;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .help__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 22.2rem;
    padding-bottom: 4.2rem;
  }
}
.help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 11.9rem;
     -moz-column-gap: 11.9rem;
          column-gap: 11.9rem;
  row-gap: 5.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .help__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .help__items {
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
}
.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 11.3rem;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media screen and (max-width: 1279px) {
  .help__item {
    width: 17rem;
  }
}
@media screen and (max-width: 767px) {
  .help__item {
    width: 13rem;
    height: 8.7rem;
  }
}
.help__item:first-child {
  background-image: url("../../assets/icons/help/icon-pet-food.svg");
}
@media screen and (max-width: 767px) {
  .help__item:first-child {
    background-image: url("../../assets/icons/help/mobile/icon-pet-food.svg");
  }
}
.help__item:nth-child(2) {
  background-image: url("../../assets/icons/help/icon-transportation.svg");
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(2) {
    background-image: url("../../assets/icons/help/mobile/icon-transportation.svg");
  }
}
.help__item:nth-child(3) {
  background-image: url("../../assets/icons/help/icon-toys.svg");
  padding: 0 0.7rem;
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(3) {
    background-image: url("../../assets/icons/help/mobile/icon-toys.svg");
  }
}
.help__item:nth-child(4) {
  background-image: url("../../assets/icons/help/icon-bowls-and-cups.svg");
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(4) {
    background-image: url("../../assets/icons/help/mobile/icon-bowls-and-cups.svg");
  }
}
.help__item:nth-child(5) {
  background-image: url("../../assets/icons/help/icon-shampoos.svg");
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(5) {
    background-image: url("../../assets/icons/help/mobile/icon-shampoos.svg");
  }
}
.help__item:nth-child(6) {
  background-image: url("../../assets/icons/help/icon-vitamins.svg");
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(6) {
    background-image: url("../../assets/icons/help/mobile/icon-vitamins.svg");
  }
}
.help__item:nth-child(7) {
  background-image: url("../../assets/icons/help/icon-medicines.svg");
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(7) {
    background-image: url("../../assets/icons/help/mobile/icon-medicines.svg");
  }
}
.help__item:nth-child(8) {
  background-image: url("../../assets/icons/help/icon-collars-leashes.svg");
}
@media screen and (max-width: 767px) {
  .help__item:nth-child(8) {
    background-image: url("../../assets/icons/help/mobile/icon-collars-leashes.svg");
  }
}
.help__item:last-child {
  background-image: url("../../assets/icons/help/icon-sleeping-area.svg");
}
@media screen and (max-width: 767px) {
  .help__item:last-child {
    background-image: url("../../assets/icons/help/mobile/icon-sleeping-area.svg");
  }
}
.help__item-text {
  color: #545454;
}
@media screen and (max-width: 767px) {
  .help__item-text {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}

.donation {
  background: #f6f6f6;
}
.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 18.2rem 10rem 18.3rem;
}
@media screen and (max-width: 1279px) {
  .donation__container {
    max-width: 50.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .donation__container {
    max-width: 30rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4.2rem 0;
  }
}
.donation__img-wrapper {
  padding: 1.1rem 3rem 1rem 0;
}
@media screen and (max-width: 1279px) {
  .donation__img-wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .donation__img-wrapper {
    width: 26rem;
    height: 13.5rem;
  }
}
.donation__img {
  display: block;
}
@media screen and (max-width: 767px) {
  .donation__img {
    width: 100%;
  }
}
@media screen and (max-width: 1279px) {
  .donation__content {
    max-width: 38rem;
    margin: 0 auto;
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .donation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.9rem;
    padding-bottom: 4.2rem;
  }
}
.donation__title {
  color: #545454;
  padding-right: 8rem;
}
@media screen and (max-width: 767px) {
  .donation__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-right: 0;
    text-align: center;
  }
}
.donation__subtitle {
  color: #545454;
  padding: 2rem 7.2rem 2rem 0;
}
@media screen and (max-width: 767px) {
  .donation__subtitle {
    padding: 0;
    letter-spacing: normal;
    line-height: 160%;
    text-align: center;
  }
}
.donation__credit-card {
  padding: 0 3.1rem 2rem 0;
}
@media screen and (max-width: 767px) {
  .donation__credit-card {
    padding: 0;
  }
}
.donation__credit-card-content {
  color: #545454;
  padding: 1rem 1.5rem 1rem 5.9rem;
  background: #f1cdb3;
  background-image: url("../../assets/icons/donation/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 1.5rem 50%;
  border-radius: 0.9rem;
}
@media screen and (max-width: 767px) {
  .donation__credit-card-content {
    padding: 1.3rem 1.5rem 1.3rem 6rem;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}
.donation__credit-card-content:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.donation__description {
  color: #b2b2b2;
}
@media screen and (max-width: 767px) {
  .donation__description {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
  }
}

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), -o-radial-gradient(0% 0%, 100% 215.42%, #5b483a 0%, #262425 100%), #211f20;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 4rem 0;
}
@media screen and (max-width: 1279px) {
  .footer__container {
    max-width: 70.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 6.1rem;
       -moz-column-gap: 6.1rem;
            column-gap: 6.1rem;
    padding: 3rem 0 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    max-width: 30rem;
    row-gap: 4rem;
  }
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6rem;
}
@media screen and (max-width: 1279px) {
  .footer__item {
    min-height: 29.4rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 4rem;
    padding-bottom: 0;
    min-height: auto;
  }
}
.footer__item:first-child {
  width: 27.9rem;
}
.footer__item:nth-child(2) {
  width: 30.2rem;
}
.footer__title {
  color: #ffffff;
  padding-top: 1.6rem;
}
@media screen and (max-width: 1279px) {
  .footer__title {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 0 1rem;
  }
}
.footer__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  color: #f1cdb3;
}
@media screen and (max-width: 767px) {
  .footer__subtitle--mobile {
    -ms-flex-item-align: start;
        align-self: start;
  }
}
.footer__link {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.footer__link--email {
  padding: 0.5rem 0 0.4rem 6rem;
  background-image: url("../../assets/icons/footer/icon-email.svg");
}
.footer__link--phone {
  padding: 0.5rem 0 0.4rem 6rem;
  background-image: url("../../assets/icons/footer/icon-phone.svg");
}
.footer__link--mark {
  padding-left: 4.2rem;
  background-image: url("../../assets/icons/footer/icon-marker.svg");
}
.footer__link--mark-1 {
  padding: 0.5rem 0 0.4rem 4.2rem;
}
@media screen and (max-width: 767px) {
  .footer__img-wrapper {
    width: 26rem;
    height: 26.9rem;
  }
}
.footer__img {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__img {
    width: 100%;
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: -50;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.popup__container {
  position: absolute;
  left: calc(50% - 45rem);
  width: 90rem;
  height: 50rem;
  background-color: #fafafa;
  border-radius: 0.9rem;
}
@media screen and (max-width: 1279px) {
  .popup__container {
    width: 63rem;
    height: 35rem;
    left: calc(50% - 31.5rem);
  }
}
@media screen and (max-width: 767px) {
  .popup__container {
    width: 24rem;
    height: 34.1rem;
    left: calc(50% - 12rem);
  }
}
.popup__container--show {
  -webkit-animation: showModal 0.4s ease-in-out;
          animation: showModal 0.4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (max-width: 1279px) {
  .popup__container--show {
    -webkit-animation: showModalTablet 0.4s ease-in-out;
            animation: showModalTablet 0.4s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 767px) {
  .popup__container--show {
    -webkit-animation: showModalMobile 0.4s ease-in-out;
            animation: showModalMobile 0.4s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@-webkit-keyframes showModal {
  from {
    top: -50%;
  }
  to {
    top: calc(50% - 25rem);
  }
}
@keyframes showModal {
  from {
    top: -50%;
  }
  to {
    top: calc(50% - 25rem);
  }
}
@-webkit-keyframes showModalTablet {
  from {
    top: -50%;
  }
  to {
    top: calc(50% - 17.5rem);
  }
}
@keyframes showModalTablet {
  from {
    top: -50%;
  }
  to {
    top: calc(50% - 17.5rem);
  }
}
@-webkit-keyframes showModalMobile {
  from {
    top: -50%;
  }
  to {
    top: calc(50% - 17.05rem);
  }
}
@keyframes showModalMobile {
  from {
    top: -50%;
  }
  to {
    top: calc(50% - 17.05rem);
  }
}
.popup__close-button {
  position: absolute;
  top: -5.2rem;
  right: -4.2rem;
}
@media screen and (max-width: 1279px) {
  .popup__close-button {
    right: -4.3rem;
  }
}
@media screen and (max-width: 767px) {
  .popup__close-button {
    right: -3rem;
  }
}
.popup__close-button--hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}
.popup__modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__modal-window:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.popup__img-wrapper {
  width: 50rem;
  height: 50rem;
  border-radius: 0.9rem;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .popup__img-wrapper {
    width: 35rem;
    height: 35rem;
  }
}
@media screen and (max-width: 767px) {
  .popup__img-wrapper {
    display: none;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__content {
  width: 35.1rem;
  height: 36.2rem;
  margin: 5rem 2rem 8.8rem 2.9rem;
  padding-left: 0.1rem;
}
@media screen and (max-width: 1279px) {
  .popup__content {
    width: 26rem;
    height: 30.3rem;
    margin: 1rem 0.9rem 3.7rem 1.1rem;
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .popup__content {
    width: 22rem;
    height: 32.1rem;
    margin: 1rem;
  }
}
.popup__title {
  padding-bottom: 1rem;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .popup__title {
    text-align: center;
  }
}
.popup__subtitle {
  padding-bottom: 4rem;
  text-align: left;
  color: #000000;
}
@media screen and (max-width: 1279px) {
  .popup__subtitle {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .popup__subtitle {
    text-align: center;
  }
}
.popup__description {
  padding-bottom: 4.3rem;
  color: #000000;
}
@media screen and (max-width: 1279px) {
  .popup__description {
    padding-bottom: 2rem;
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .popup__description {
    padding-bottom: 2.4rem;
    text-align: justify;
  }
}
.popup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10.2rem;
  list-style: none;
}
@media screen and (max-width: 1279px) {
  .popup__list {
    height: 8.7rem;
  }
}
.popup__list-item {
  color: #000000;
}
.popup__list-item::before {
  content: "▪";
  padding-right: 0.7rem;
  color: #f1cdb3;
}
.popup__list-annotation {
  font-weight: 700;
}

.popup--show {
  z-index: 50;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.wrapper--pets {
  padding-top: 12rem;
  background-color: #f6f6f6;
}

.header--pets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 0;
  background-color: #ffffff;
}
@media screen and (max-width: 1279px) {
  .header--pets {
    padding: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .header--pets {
    padding-left: 1rem;
    padding-right: 5rem;
  }
}

.header--pets-lock {
  padding-right: 15px;
}
@media screen and (max-width: 1279px) {
  .header--pets-lock {
    padding: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .header--pets-lock {
    padding-left: 1rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .header--pets-mobile {
    background-color: transparent;
  }
}

.logo__title--pets {
  color: #545454;
}
.logo__subtitle--pets {
  color: #292929;
}

.navigation--pets {
  background-color: #ffffff;
  z-index: 2;
}

.list__item--pets {
  color: #545454;
}
.list__link--pets:hover {
  color: #292929;
}
.list__item--checked-pets {
  position: relative;
  color: #292929;
}
.list__item--checked-pets::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
}

.burger-menu__line--pets {
  background-color: #000000;
}

@media screen and (max-width: 1279px) {
  .pets__container--our-friends {
    padding-bottom: 7.6rem;
  }
}
@media screen and (max-width: 767px) {
  .pets__container--our-friends {
    padding-bottom: 4.2rem;
  }
}
@media screen and (max-width: 1279px) {
  .pets__title--our-friends {
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .pets__title--our-friends {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-bottom: 0;
  }
}
.pets__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-top: 6rem;
}
@media screen and (max-width: 1279px) {
  .pets__navigation {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .pets__navigation {
    padding-top: 0;
    gap: 1rem;
  }
}

.page-pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  background: transparent;
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}
.page-pointer__inner {
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
  color: #292929;
}

.pets-cards--our-friends {
  display: grid;
  grid-template: repeat(2, auto)/repeat(4, -webkit-max-content);
  grid-template: repeat(2, auto)/repeat(4, max-content);
  row-gap: 3rem;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
@media screen and (max-width: 1279px) {
  .pets-cards--our-friends {
    grid-template: repeat(3, auto)/repeat(2, -webkit-max-content);
    grid-template: repeat(3, auto)/repeat(2, max-content);
  }
}
@media screen and (max-width: 767px) {
  .pets-cards--our-friends {
    grid-template: repeat(3, auto)/max-content;
  }
}

@media screen and (max-width: 767px) {
  .pets-card--our-friends:nth-child(4),
.pets-card--our-friends:nth-child(5),
.pets-card--our-friends:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .pets-card--our-friends:nth-child(7),
.pets-card--our-friends:nth-child(8) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */