.body--lock {
  height: 100vh;
  padding-right: 15px;
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 6rem;
  left: 4rem;
  right: 4rem;
  @media screen and (max-width: $breakpoint-1) {
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem;
  }
  @media screen and (max-width: $breakpoint-2) {
    padding-left: 1rem;
    padding-right: 5.3rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-2) {
      margin-left: auto;
      margin-right: 0;
      animation: changeWidth0 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }

  }

  &__container--mobile {
    @media screen and (max-width: $breakpoint-2) {
      width: 25.7rem;
      margin: 0 0 0 auto;
      animation: changeWidth1 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes changeWidth0 {
  from {
    width: 25.7rem;
  }
  to {
    width: 100%;
  }
}

@keyframes changeWidth1 {
  from {
    width: 100%;
  }
  to {
    width: 25.7rem;
  }
}

.logo {
  &__title {
    @extend %logo-title;
    color: $color-primary;
    padding-bottom: 1rem;
    @media screen and (max-width: $breakpoint-2) {
      position: relative;
      z-index: 3;
    }
  }

  &__subtitle {
    @extend %logo-subtitle;
    color: $color-light-xl;
    padding-left: 0.4rem;
    @media screen and (max-width: $breakpoint-2) {
      position: relative;
      z-index: 3;
    }
  }
}

.navigation {
  width: 44.3rem;
  padding-bottom: 0.3rem;
  @media screen and (max-width: $breakpoint-2) {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    padding-top: 9rem;
    top: 0;
    bottom: 0;
    right: -32rem;
    background-color: $color-dark-3xl;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
  }
}

.navigation--show {
  @media screen and (max-width: $breakpoint-2) {
    transform: translateX(-32rem);
  }
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  @media screen and (max-width: $breakpoint-2) {
    flex-direction: column;
    height: 32.7rem;
    margin-bottom: 9rem;
    line-height: 160%;
  }

  &__item {
    @extend %paragraph-1;
    color: $color-dark-s;
    padding-bottom: 0.3rem;
    @media screen and (max-width: $breakpoint-2) {
      @include paragraph-mobile-menu();
      padding-bottom: 0;
    }
  }

  &__link:hover {
    color: $color-light-s;
  }

  &__item--checked {
    position: relative;
    color: $color-light-s;
  }

  &__item--checked::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-primary;
  }
}

.burger-menu {
  display: none;
  @media screen and (max-width: $breakpoint-2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    user-select: none;
    z-index: 3;
    transition: all 0.3s ease-in-out;
  }

  &__line {
    @media screen and (max-width: $breakpoint-2) {
      width: 100%;
      height: 0.2rem;
      background-color: $color-primary;
      z-index: 3;
      transition: all 0.3s ease-in-out;
    }
  }
}

.burger-menu--open {
  @media screen and (max-width: $breakpoint-2) {
    transform: rotate(90deg);
  }
}


.background {
  display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 1;
  }

.background--blured {
  @media screen and (max-width: $breakpoint-2) {
    display: block;
    animation: blur 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes blur {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(41, 41, 41, 0.6);
  }
}