.wrapper {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 6rem;
  left: 4rem;
  right: 4rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.logo {
  &__title {
    @extend %logo-title;
    color: $color-primary;
    padding-bottom: 1rem;
  }

  &__subtitle {
    @extend %logo-subtitle;
    color: $color-light-xl;
    padding-left: 0.4rem;
  }
}

.navigation {
  width: 44.3rem;
  padding-bottom: 0.3rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  &__item {
    @extend %paragraph-1;
    color: $color-dark-s;
    padding-bottom: 0.3rem;
  }

  &__link:hover {
    color: $color-light-s;
  }

  &__item--checked {
    position: relative;
    color: $color-light-s;
  }

  &__item--checked::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-primary;
  }
}
