.help {
  &__container {
    padding: 8rem 4rem 10rem;
  }

  &__title {
    max-width: 31rem;
    margin: 0 auto;
    padding-bottom: 6rem;
    text-align: center;
    color: $color-dark-l;
    @extend %h3;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 11.9rem;
    row-gap: 5.5rem;
    padding: 0 8.7rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 11.3rem;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &__item:first-child {
    background-image: url("/shelter/assets/icons/help/icon-pet-food.svg");
  }
  &__item:nth-child(2) {
    background-image: url("/shelter/assets/icons/help/icon-transportation.svg");
  }
  &__item:nth-child(3) {
    background-image: url("/shelter/assets/icons/help/icon-toys.svg");
    padding: 0 0.7rem;
  }
  &__item:nth-child(4) {
    background-image: url("/shelter/assets/icons/help/icon-bowls-and-cups.svg");
  }
  &__item:nth-child(5) {
    background-image: url("/shelter/assets/icons/help/icon-shampoos.svg");
  }
  &__item:nth-child(6) {
    background-image: url("/shelter/assets/icons/help/icon-vitamins.svg");
  }
  &__item:nth-child(7) {
    background-image: url("/shelter/assets/icons/help/icon-medicines.svg");
  }
  &__item:nth-child(8) {
    background-image: url("/shelter/assets/icons/help/icon-collars-leashes.svg");
  }
  &__item:last-child {
    background-image: url("/shelter/assets/icons/help/icon-sleeping-area.svg");
  }

  &__item-text {
    @extend %h4;
    color: $color-dark-l;
  }
}
