.not-only {
  display: flex;
  flex-direction: row;
  padding: 18rem 4rem 0;
  background: $bg-gradient;

  @media screen and (max-width: $breakpoint-1) {
    flex-direction: column;
    align-items: center;
    padding: 15rem 10rem 0 9.9rem;
  }

  @media screen and (max-width: $breakpoint-2) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__content {
    padding: 16.3rem 4.2rem 0 0;

    @media screen and (max-width: $breakpoint-1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 46rem;
      padding: 0 0 10rem 0;
    }

    @media screen and (max-width: $breakpoint-2) {
      padding-bottom: 10.5rem;
    }
  }

  &__title {
    @extend %h2;
    color: $color-light-xl;
    padding: 0 15rem 4.2rem 0;

    @media screen and (max-width: $breakpoint-2) {
      @include h3-mobile();
      padding-right: 0;
      text-align: center;
    }
  }

  &__text {
    @extend %paragraph-1;
    color: $color-dark-s;
    padding-bottom: 4.2rem;

    @media screen and (max-width: $breakpoint-2) {
      max-width: 30rem;
      text-align: center;
    }
  }

  &__button {
    width: 20.7rem;
    background-color: $color-primary;
  }

  &__button:hover {
    background-color: $color-primary-light;
  }

  &__img-wrapper {
    @media screen and (max-width: $breakpoint-1) {
      width: 56.9rem;
      height: 59.3rem;
    }

    @media screen and (max-width: $breakpoint-2) {
      width: 26rem;
      height: 27.1rem;
    }
  }

  &__img {
    display: block;
    @media screen and (max-width: $breakpoint-1) {
      width: 100%;
      position: relative;
      left: 7rem;
    }

    @media screen and (max-width: $breakpoint-2) {
      left: 2rem;
    }
  }
}
