.pets {
  background-color: $color-light-l;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 8rem 4rem 10rem;
    @media screen and (max-width: $breakpoint-1) {
      max-width: 70.8rem;
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (max-width: $breakpoint-2) {
      max-width: 30rem;
      padding: 4.2rem 0;
      row-gap: 4.2rem;
    }
  }

  &__title {
    max-width: 40rem;
    padding-bottom: 6rem;
    text-align: center;
    color: $color-dark-l;
    @extend %h3;
    @media screen and (max-width: $breakpoint-2) {
      @include h3-mobile();
      padding-bottom: 0;
    }
  }

  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 6rem;
    @media screen and (max-width: $breakpoint-2) {
      max-width: 27rem;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 2rem;
      column-gap: 8rem;
      padding-bottom: 0;
    }
  }

  &__button {
    width: 26.1rem;
    background-color: $color-primary;
  }
  &__button:hover {
    background-color: $color-primary-light;
  }
}

.pets-cards {
  position: relative;
  width: 99rem;
  height: 43.5rem;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-1) {
    width: 58rem;
  }
  @media screen and (max-width: $breakpoint-2) {
    width: 27rem;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 9rem;

    transition: all 1.3s linear;
    @media screen and (max-width: $breakpoint-1) {
      gap: 4rem;
    }
  }
}

.pets-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  background-color: $color-light-s;

  &__img-wrapper {
  }

  &__img {
    display: block;
  }

  &__title {
    @extend %h4;
    color: $color-dark-l;
  }

  &__button {
    width: 18.7rem;
    border: 2px solid $color-primary;
    background-color: transparent;
    color: $color-dark-3xl;
    cursor: pointer;
  }
}

.pets-card:hover {
  @include card-hover();
}

.pets-card:hover .pets-card__button {
  background-color: $color-primary-light;
  border-color: $color-primary-light;
}

.pets-card:hover .pets-card__button:active {
  background-color: $color-primary;
  border-color: $color-primary;
}

.pets-card--main-page:nth-child(2) {
  @media screen and (max-width: $breakpoint-2) {
    display: none;
  }
}

.pets-card--main-page:nth-child(3) {
  @media screen and (max-width: $breakpoint-1) {
    display: none;
  }
}

.button-arrow--prev {
  background-image: url('../../assets/icons/pets/arrow-previous.svg');
  @media screen and (max-width: $breakpoint-2) {
    order: 1;
  }
}

.button-arrow--next {
  background-image: url('../../assets/icons/pets/arrow-next.svg');
  @media screen and (max-width: $breakpoint-2) {
    order: 2;
  }
}