.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  z-index: 100;

  &__content {
    position: relative;
    margin: 1.5rem;
    padding: 4rem 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
  }

  &__title {
    padding: 0 1rem 1rem;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
  }

  &__reset-btn {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;

    &:hover > .popup__reset-btn--line {
      background-color: #147ce5;
    }
  }

  &__reset-btn--line {
    width: 100%;
    height: 2px;
    background-color: #000000 ;
    transition: all 0.3s ease-in-out;
  }
}
