.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.8);

  &__year {
    color: #f5f5f7cc;
  }

  &__links {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__github {
    display: block;
    color: #f5f5f7cc;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #f5f5f7;
    }
  }

  &__rsschool {
    margin-left: 80px;

    path {
      transition: fill 0.3s ease-in-out;
    }

    &:hover path {
      fill: #f5f5f7;
    }
  }
}

body.lock > .wrapper > .footer {
  padding-right: 45px;
}
