@font-face {
  font-family: "Georgia";
  src: url("./../../../../assets/fonts/georgia/georgia-regular.eot");
  src: url("./../../../../assets/fonts/georgia/georgia-regular.eot?#iefix") format("embedded-opentype"),
    url("./../../../../assets/fonts/georgia/georgia-regular.woff") format("woff"),
    url("./../../../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("./../../../../assets/fonts/georgia/georgia-bold.eot");
  src: url("./../../../../assets/fonts/georgia/georgia-bold.eot?#iefix") format("embedded-opentype"),
    url("./../../../../assets/fonts/georgia/georgia-bold.woff") format("woff"),
    url("./../../../../assets/fonts/georgia/georgia-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Arial";
  src: url("./../../../../assets/fonts/arial/arial-regular.eot");
  src: url("./../../../../assets/fonts/arial/arial-regular.eot?#iefix") format("embedded-opentype"),
    url("./../../../../assets/fonts//arial/arial-regular.woff") format("woff"),
    url("./../../../../assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: url("./../../../../assets/fonts/arial/arial-italic.eot");
  src: url("./../../../../assets/fonts/arial/arial-italic.eot?#iefix") format("embedded-opentype"),
    url("./../../../../assets/fonts//arial/arial-italic.woff") format("woff"),
    url("./../../../../assets/fonts/arial/arial-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
